#loader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 255, 79, 0.5);
    z-index: 9999;
    display: none;
}
#loader .loader-image{
    width: 400px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -200px;
}
#loader .loader-image img{
    max-width: 100%;
}