body{
    background: rgba(56, 0, 0, 1);
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
}


.logo{
    width: 200px;
    display: inline-block;
    position: relative;
    z-index: 2;
}

.contact-widget .contact-widget-item i{
    display: inline-block;
    margin-right: 5px;
    font-size: 22px;
    width: 20px;
}
.contact-widget .contact-widget-item span{
    font-size: 18px;
}


#header{
    position: relative;
}
#header:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(56, 0, 0, 0.7);
    z-index: 1;
}
#main-menu-nav{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: 2;
}
#main-menu-nav a{
    font-size: 26px;
    text-transform: uppercase;
    color: #fff;
    transition: all .15s linear;
    position: relative;
    padding: 15px 0;
    margin: 0 15px;
}
#main-menu-nav a:before{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #ccc;
    position: absolute;
    bottom: 0;
    transition: all .15s linear;
}
#main-menu-nav a:hover, #main-menu-nav li.active a{
    color: #fff;
    background: transparent;
}
#main-menu-nav a:hover:before{
    height: 5px;
}
.header-navigation{
    position: absolute;
    z-index: 2;
    padding: 40px 0 0;
    width: 100%;
}
.header-contact{
    height: 100%;
    position: relative;
}
.header-contact .contact-widget{
    color: #fff;
    position: absolute;
    width: auto;
    height: auto;
    right: 0;
    bottom: 15px;
    z-index: 2;
}
#main-slider .main-slider-arrow{
    width: 100px;
    height: 50px;
    z-index: 2;
    background: transparent;
    left: 50%;
    top: 100%;
    margin: -50px 0 0 -50px;
    opacity: .7;
    transition: all .15s linear;

}
#main-slider .main-slider-arrow:hover{
    opacity: 1;
}
#main-slider .main-slider-arrow img{
    position: relative;
    top: -10px;
}
#main-slider .carousel-indicators{
    bottom: 60px;
}
#main-slider .carousel-indicators li {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin: 3px;
}
#main-slider .carousel-indicators .active {
    width: 21px;
    height: 21px;
    margin: 3px;
    background-color: yellow;
}

#main-slider .item .image-title{
    position: absolute;
    height: 120px;
    top: 50%;
    margin-top: -60px;
    width: 100%;
    text-align: center;
    left: 0;
    z-index: 2;
}

#main-slider .item .image-title span{
    display: inline-block;
    padding: 0 40px;
    background: rgba(0,0,0, .7);
    height: 90px;
    line-height: 90px;
    color: #fff;
    font-size: 50px;
    position: relative;
}
#main-slider .item .image-title span:before{
    content: '[';
    font-size: 70px;
    color: #fff;
    position: absolute;
    font-weight: bold;
    left: 10px;
    height: 90px;
    line-height: 90px;
    top: 0;
    opacity: .7;
}
#main-slider .item .image-title span:after{
    content: ']';
    font-size: 70px;
    color: #fff;
    position: absolute;
    font-weight: bold;
    right: 10px;
    height: 90px;
    line-height: 90px;
    top: 0;
    opacity: .7;
}
#mobile-main-menu{
    display: none;
}

#page-header .logo{
    padding: 15px 0 0;
    max-width: 200px;
    width: auto;
    display: block;
}

#page-header #main-menu{
    overflow-x: hidden;
    margin-top: 45px;
}

#page-header #main-menu-nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}







#page-wrap{
    background: #fff;
    padding: 25px;
    margin: 15px 0 25px;
    font-size: 18px;
}
.page-category-container{
    padding: 45px 0 0;
    margin: 0 -25px -25px;
}






#breadcrumb .breadcrumb{
    margin-top: 25px;
    border-radius: 0;
}
#breadcrumb .breadcrumb li{

}
#breadcrumb .breadcrumb li a{

}










.main-header{
    background: yellow;
    color: #000;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
    font-size: 17px;
    font-weight: bold;
}
.flex-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-grid-item{
    width: 50%;
    position: relative;
}
.flex-grid-objects .flex-grid-item{
    width: 25%;
    position: relative;
}
.flex-grid-item:before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #380000;
    opacity: .9;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .15s linear;

}
.flex-grid-item:hover:before{
    opacity: .7;
}
.flex-grid-icon{
    position: absolute;
    width: 15%;
    top: 20%;
    left: 50%;
    margin-left: -7.5%;
}

.flex-grid-item .circle{
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
}
.flex-grid-objects .circle{
    top: 20%;
}

.flex-grid-item .circle span{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: yellow;
    border-radius: 100%;
}
.flex-grid-item .flex-grid-name{
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    padding: 0 15px;
    font-weight: 300;
    font-size: 24px;
}
.flex-grid-objects .flex-grid-name{
    top: 30%;
}
.flex-grid-item .flex-grid-name span{
    text-shadow: 3px 3px 3px #000;
    display: inline-block;
    max-width: 320px;
}

.flex-grid-item .flex-item-link{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

}
iframe{
    width: 100%;
}















#footer .footer{
    padding-left: 45px;
    position: relative;
    padding-bottom: 40px;
    color: #fff;
}

#footer .footer:before{
    content: '';
    width: 30px;
    height: 100%;
    background: yellow;
    position: absolute;
    left: 0px;
    top: 0;
}

#footer .footer .footer-contact{
    padding: 25px 0 0;
}











@media(max-width: 768px){
    #main-menu-nav{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }

    .header-contact .contact-widget{
        display: none;
    }

    #main-slider .carousel-indicators{
        display: none;
    }

    #main-slider .main-slider-arrow{
        display: none;
    }

    #main-slider .item .image-title{
        display: none;
    }

    #main-menu{
        display: none;
    }

    #mobile-main-menu{
        display: block;
        background: rgba(56, 0, 0, 0.7);
        z-index: 2;
        margin: 0;
    }

    #mobile-main-menu .navbar-brand{
        color: #fff;
    }
    #mobile-main-menu .navbar-brand:before{
        display: none !important;
    }

    #mobile-main-menu .navbar-toggle{
        border: 1px solid yellow;
    }
    #mobile-main-menu .navbar-toggle .icon-bar{
        background: yellow;
    }

    #mobile-main-menu a{
        font-size: 26px;
        text-transform: uppercase;
        color: #fff;
        transition: all .15s linear;
        position: relative;
        padding: 15px 0;
        margin: 0 15px;
    }

    #mobile-main-menu a:before{
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #ccc;
        position: absolute;
        bottom: 0;
        transition: all .15s linear;
    }

    #mobile-main-menu a:hover, #mobile-main-menu li.active a{
        color: #fff;
        background: transparent;
    }

    #mobile-main-menu a:hover:before{
        height: 5px;
    }
    .flex-grid-item{
        width: 100%;
        max-width: 480px;
        position: relative;
    }
    .flex-grid-objects .flex-grid-item{
        width: 100%;
        max-width: 480px;
        position: relative;
    }
    #page-header .logo{
        display: inline-block;
    }

}
@media(max-width: 991px){
    #page-header #main-menu-nav a{
        font-size: 21px;
    }
    #main-slider .item .image-title{
        display: none;
    }
}